
.dashboard{
  padding: 1rem;
}

.project-item.active {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: 1px solid #0056b3;
  }
  
  .project-item {
    cursor: pointer;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 2px 2px 1px #ddd;
    border: 1px solid #ddd;
    padding: 1rem;

  }
  
  .task-list {
    list-style: none;
    padding: 0;
  }
  
  .task-item {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  .summary-cards{
    display: flex;
    justify-content: space-around;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
  }
  .dashboard-header{
    display: flex;
  }
  .dashboard-content>.projects{
    display: flex;
    flex-direction: column;
  }
  .project_summary{
    font-size: large;
    font-weight: 600;
  }

.task-summary-text{
  font-size: medium;
  font-weight: 500;
  color: rgb(130, 120, 120);
  }

.summary-cards> .card{
  text-align: center;
}

.card-main-div-dashboard{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 20rem;
  overflow-y: scroll;
}
.dashboard-project-div{
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  max-height: 30rem;
  overflow-y: scroll;
}